
.bar_items{




}
.bar_title{
    width: 80%;
    text-align: center;
    align-items: center;
}
/* {% comment %} date sec {% endcomment %} */
.date_sec{
    margin-left: 20px;
    margin-top: 5px;

}
.select{
    font-size: 12px;
}
/* 
{% comment %} main {% endcomment %} */
.main_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-end;
    padding: 140px;
    text-align: right;
}
.c{
    height: auto;
}
.distribution_txt{
    margin-left: 20px;
    margin-top: 5px;
   

}


















