
.bar_items{




}
.bar_title{



}
/* {% comment %} date sec {% endcomment %} */
.date_sec{
    margin-left: 20px;


}
.select{

}
/* 
{% comment %} main {% endcomment %} */
.main_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-evenly;



}
.c{

}
.distribution_txt{
    margin-left: 20px;
    margin-top: 5px;
   

}


















